body{
    padding: 0px;
    margin: 0px;
    background: white;
}
.maincontainer{
    width: 100%;
    height: auto;
}
.mainhead{
    width: 100%;
    height: 80px;
    background-color: rgb(13, 14, 14);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.lcolor{
    color: rgb(9, 193, 9);
}
.logoicon{
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 900;
}
.logoicon:hover{
    border: 1px solid rgb(252, 245, 245);
}
#inputtxt{
    width: 500px;
    height: 40px;
    padding-left: 2rem;
    margin-left: -5rem;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 17px;
}
.inputsbtn{
    display: flex;
    flex-wrap: wrap;
}
.search{
    width: 40px;
    height: 2rem;
    margin-top: 0.5rem;
    margin-left:-0.5rem;
    font-size: 25px;
    padding-top:0.7rem;
    padding-left: 0.8rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(15, 208, 15);
    border: 1px solid black;
}
.location{
    width: 110px;
    height: 35px;
    margin-left: -7rem;
    border: 1px solid black;
    text-align: center;
    padding-top: 0.6rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.location:hover{
    color: black;
    background-color: white;
}
.fa-location-dot{
    margin-right: 0.6rem;
    padding-top: 1px;
}
.lam{
    width: 120px;
    display: flex;
    font-size: 25px;
    margin-right: 1rem;
    text-align: center;
}
.lam a {
  color: white;
}
.likeicon{
    width: 40px;
    height: 35px;
}
.usericon{
    width: 40px;
    height: 35px;
}
.massageicon{
    width: 40px;
    height: 35px;
}
.lam a:hover{
    color: blue;
    border: 1px solid white;

}
 /* second header */

 .option{
    width: 98%;
    height: 40px;
    line-height: 2rem;
    /* margin-top: 1.5rem; */
    padding: 10px;
    text-align: left;
    background-color: rgb(241, 244, 243);
  }
 .option a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 0.3rem;
 }
 .dropdown {
  display: inline-block;
  position: relative;
}
.action{
  border:none;
  cursor:pointer;
}
.dropdown-options {
  display: none;
  position: absolute;
  z-index: 1;
  overflow: auto;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-options {
  display: block;
  flex-wrap: wrap;
}
.dropdown-options a {
  display: block;
  color: #000000;
  text-decoration: none;
  background-color: white;
  font-size: 14px;
  width: 200px; 
}
.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
} 
.Department{
    background-color: rgb(14, 210, 14);
    color: white;
    font-weight: 700;
    margin-left: -1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
 .action:hover{
    color: green;
 }
 .mega:hover{
    display: inline-block;
    flex-wrap: wrap;
 }

 .submenu{
    display: flex;
    width: 900px;
    background-color: white;
    height: 280px;
    margin: 1rem 1rem 1rem 0rem;
    margin-left: -3rem;
 }
 .img{
    width: 250px;
    height: 250px;
    background-color: yellow;
    background-image: url("menu-banner_dropdown.jpg");
    background-size: cover;
 }
 .txt1{
    margin-top: 1rem;
 }
 .imgt{
    margin-left: 1rem;
    font-weight: 550;
    font-size: 14px;
    color: black;
 }
 .shopnow{
    background-color: rgb(12, 174, 12);
    color: white;
    margin-top: 0.5rem;
    cursor: pointer;
    padding: 5px;
 }
 .margin2 a{
    margin-top: -0.5rem;
   }
   .submenu a{
    margin-top: -0.8rem;
   }

 /* second section images */
 
 .categaries-img{
    width: 99%;
    height:auto;
    margin: 1rem;
   display: flex;
   justify-content: left;
 }
 .categaries{
    width: 85%;
    height: auto;
 }
 .img1{
    width: 100%;
    height: 250px;
    background-image: url(./fru-veg-imgnew1.jpg);
    background-size: cover;
    border-radius: 10px;
 
}
.img1 p{
    color: #fff;
    font-size: 30px;
    font-family: Arial;
    text-align: center;
    padding-top: 2rem;
}
.img1 label{
    font-size:14px;
    color: #fff;
}
.img1 button{
    margin-top: -1rem;
    padding: 0.6rem;
    margin-left: 2rem;
    background-color: black;
    color: white;
    font-family: Arial;
    
}
.img1 button:hover{
  background-color: rgb(16, 211, 16);
}
 /* set all .categaries item */

 .categaries{
    margin-top: 2rem;
padding-left: 1rem;
    font-size: 14px;
 }
 .categaries h2{
    font-size: 18px;
    font-family: Arial;
 }
 .categaries a:hover{
    color: rgb(23, 179, 23);
 }
        .categaries a{
            text-decoration: none;
            color: #000000;
            font-family: Arial;
        }
     .design{
        padding: 1rem;
        border: 2px solid black;
        text-align: center;
    }
    #input{
    width:70%;
    height: 30px;
    border-radius:10px ;
    font-size: 14px;
    color: #21313c;
    font-family: Arial;

}
.fa-star{
    color: #ffc107;
}
label{
    font-family: Arial;
}
input{
    margin: 0.5rem;
    color: #21313c;
    font-family: Arial;

}

 /* fruit and mancurian section */
 
 .head{
    width: 84%;
    height: 90px;
    line-height: 6rem;
    font-size: 40px;
    padding-left: 4rem;
    margin-left: 1rem;
    font-family: Arial;
    border-radius: 10px;
    font-weight: 600;
    background-color: rgb(217, 212, 212);
    margin-left: 6rem;
}
 
 
  .fifthcon{
    width:84%;
    height: auto;
    margin: 10px;
    margin-left: 6rem;
  }
  .popular-pro{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
  .showdeal{
    width: 50px;
    margin: 0.5rem 0rem 0rem 1rem;
    height: 20px;
    text-align: center;
    background-color: red;
    font-weight: 500;
    font-family: Arial;
    color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  .pop-pro{
    width: 278px;
    height: 350px;
    border: 0.5px solid rgb(180, 175, 175);
    margin: 1rem 0.7rem 0rem 0.1rem;
    border-radius: 10px;
    
  }
  .img1con{
    width: 225px;
    height: 180px;
    margin-left: -1.4rem;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .iconcon{
    width: 100;
    height: 90px;
  display: none;
  }
  .i{
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 18px;
  }
  .i:hover{
      background-color: rgb(21, 209, 21);
    }
    .pop-pro:hover{
      .iconcon{
           display: block;   
   }
   border: 1.4px solid rgb(27, 210, 27) ;
    }
  
  .pro1{
    margin-left: 2rem;
    margin-top: -0.4rem;
    color: #5c6c75bf;
    font-size: 14px;
    
  margin-bottom:-0.5rem;
  font-family: Arial;
  }
  .pro-name{
    text-decoration: none;
  margin-left: 1.7rem;  
  margin-bottom: -10px;
  font-family: Arial;
    font-size: 15px;
    color: black;
  }
   .pop-pro a,.daily-b-sell-con a{
   text-decoration: none;
  }
  .amount-notamount-btn{
    display: flex;
    flex-wrap: wrap;
  }
  .rating{
    color: rgb(255,193,7,1);
    margin-left: 1.7rem;
  }
  .amount{
    margin-left: 2rem;
    font-size: 18px;
    color: black;
    font: 700;
    font-family: Arial;
  }
  .additem{
    width: 60px;
    height: 25px;
    margin-left: auto;
    /* padding: 1rem; */
    background-color: #0aad0a;
    color: white;
    margin-right: 1rem;
    font-family: Arial;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }.not-apply{
    margin-left: 0.5rem;
    font-size: 18px;
    color: #5c6c75bf;
    font-weight: 500;
    font-family: Arial;
    text-decoration: line-through;
  }
  .pro-img1{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/Apna-Sabji-Potato-1.webp);
    background-size: cover;
  }
  .pro-img2{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
     background-image: url(./vegitables/beetroot_img.jpg);
     background-size: cover;
  }
  .pro-img3{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
     background-image: url(./vegitables/braccoli_veg_img.jpg);
     background-size: cover;
  }
  .pro-img4{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/cobies.jfif);
    background-size: cover;
  }
  .pro-img5{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/cucumber_veg_img.jpg);
    background-size: cover;
  }
  .pro-img6{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/eggplant_veg_img.jpg);
    background-size: cover;
  }
  .pro-img7{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/flowercobbie_veg_img.jpg);
    background-size: cover;
  }
  .pro-img8{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/freshlecttuce_veg_img.jpg);
    background-size: cover;
  }
  .pro-img9{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/freshparsley_veg_img.jpg);
    background-size: cover;
  }
  .pro-img10{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/garlic_img.jpg);
    background-size: cover;
  }
  .pro-img11{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/ginger-root_veg_img.jpg);
    background-size: cover;
  }
  .pro-img12{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/green-whole-zucchini_veg_img.jpg);
    background-size: cover;
  }
  .pro-img13{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/greenpea_veg_img.jpg);
    background-size: cover;
  }
  .pro-img14{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/greenroselle_veg_img.jpg);
    background-size: cover;
  }
  .pro-img15{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/onion_veg_img.jpg);
    background-size: cover;
  }
  .pro-img16{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/pumpkin_veg_img.jpg);
    background-size: cover;
  }
  .pro-img17{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/spinachbundle_veg_img.jpg);
    background-size: cover;
  }
  .pro-img18{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/sweetpotato_img.webp);
    background-size: cover;
  }
  .pro-img19{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/tomato_img.jpg);
    background-size: cover;
  }
  .pro-img20{
    margin: 1rem 1rem 1rem 2rem;
    width: 220px;
    height: 180px;
    background-image: url(./vegitables/yello&redpeppers_veg_img.jpg);
    background-size: cover;
  }


  
/* seventh container is the icons */

.sevencon{
    width: 99%;
    height: 230px;
    margin: 1rem;
  }
  .all-icon{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .icons{
    width: 22%;
    height: auto;
    margin-left: 2rem;
  }
  .icon{
    font-size: 35px;
    color: rgb(52, 215, 52);
  }
  .icons h3{
    font-family: Arial;
    color: #0a0a23;
    font-size: 18px;
  }
  .icons p{
    font-family: Arial;
    color: #21313c;
    font-size: 15px;
    font-weight: 400;
  }
  p a{
    text-decoration: none;
    color: green;
  }
  
  /* footer containe */
  
  .mainfootercon{
    width:100%;
    height: auto;
    background-color: #f0f3f2;
  }
  .footer1{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
  }
  .foobox{
    width: 15%;
    height: auto;
    margin-left: 1.1rem;
  }
  .foobox p{
    font-size: 15px;
    color: #5c6c75;
    font-family: Arial;
   padding-left: 10px;
  }
  .foobox h3{
    padding-left: 10px;
    color: #21313c;
    font: 17px;
    font-family: Arial;
  }
  .foobox a{
    text-decoration: none;
  }
  .hide{
  visibility: hidden;
  }
  .fo:hover{
    color: green;
  }
  
  /* second footer */
  
  .secfooter{
    width: 99%;
    height: auto;
    margin: 1rem; 
  }
  .payment-application{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .payment-partner{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }
  .application{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .payment-partner p{
    color: #0a0a23;
    font-family: Arial;
    font-size: 14px;
  margin-left: 1rem;
  }
  .application p{
    margin-left: 8rem;
    color: #0a0a23;
    font-family: Arial;
    font-size: 14px;
  }
  .copyrightsec{
    width: 99%;
    height: auto;
    margin: 1rem;
    display: flex;
   justify-content: left;
   align-items: center;
  }
  .txet-icon{
    margin-left: 19rem;
   display: flex;
   justify-content: right;
   align-items: center;
   gap: 1rem;
  }
  .border{
    border: 1px solid black;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
  }
  .border:hover{
    color: rgb(32, 193, 32);
  }
  .mail{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 1rem;
   margin-top:-2rem;
  }
  .c-r-s{
    font-size: 12px;
    color: #0a0a23;
    margin-left: 1rem;
    text-decoration: none;
    color: #21313c;
    font-family: Arial;
  
  }